[Desktop Entry]
Encoding=UTF-8
Name=Garuda Assistant
Name[de]=Garuda Assistant
Comment=Change system settings
Comment[de]=Systemeinstellungen einfach verändern
Exec=garuda-assistant
Terminal=false
Type=Application
Icon=garuda-assistant
Categories=GNOME;GTK;System;Garuda-Setup;
NoDisplay=false
