[Desktop Entry]
Encoding=UTF-8
Name=Snapper Tools
Comment=Create, delete and restore Snapper snapshots
Exec=snapper-tools
Terminal=false
Type=Application
Icon=snapper-tools
Categories=System;Garuda-Setup;
NoDisplay=false
