root = true

[*]
charset = utf-8
end_of_line = crlf
tab_width = 4
insert_final_newline = true

[*.{sh,bash,csh,nu,fish}]
charset = utf-8
indent_size = 2
indent_style = space

[*.{md,json}]
charset = utf-8
indent_size = 4
indent_style = tab
