[Unit]
Description=systemd-cron monthly script service
Documentation=man:systemd.cron(7)
PartOf=cron-monthly.target
RefuseManualStart=yes
RefuseManualStop=yes
ConditionDirectoryNotEmpty=/etc/cron.monthly
ConditionPathExists=!/run/crond.bootdir
OnFailure=cron-failure@%i.service

[Service]
Type=oneshot
IgnoreSIGPIPE=false
ExecStart=/usr/bin/run-parts /etc/cron.monthly
ExecStartPost=/usr/bin/touch /run/crond.bootdir
