[Unit]
Description=systemd-cron weekly script service
Documentation=man:systemd.cron(7)
PartOf=cron-weekly.target
RefuseManualStart=yes
RefuseManualStop=yes
ConditionDirectoryNotEmpty=/etc/cron.weekly
OnFailure=cron-failure@%i.service

[Service]
Type=oneshot
IgnoreSIGPIPE=false
ExecStart=/usr/bin/run-parts /etc/cron.weekly
